.wrapper {
  position: relative;
}

.button {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}
