.dialog {
  position: fixed;
  padding: 0;
  margin: 25px auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);

  &::backdrop {
    backdrop-filter: blur(10px);
  }
}
