@import "@shared/styles/tokens.scss";

.subheader {
  padding-left: $page-padding-size;
  height: 120px;
  background-color: #eceff1;
  display: flex;
  align-items: center;
  gap: 10px;

  &_text {
    color: $text;
    font-size: 28px;
    font-weight: 300;
  }

  &_button {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      opacity: 0.8;
    }
  }
}

.content {
  padding: $page-padding-size;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

button.remove_selected {
  background-color: $red-1;
  border: none;
  color: $white;
  width: 161px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  &:disabled {
    background-color: $gray-3;
  }
}
