.subheader {
  padding-left: 50px;
  height: 120px;
  background-color: #eceff1;
  display: flex;
  align-items: center;
  gap: 10px;

  &_text {
    color: #757575;
    font-size: 28px;
    font-weight: 300;
  }

  &_button {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      opacity: 0.8;
    }
  }
}
.content {
  padding: 50px;
}
