@import "../../../styles/tokens.scss";

nav {
  background-color: $cyan-3;
  height: 50px;
  font-weight: 400;
  padding-left: 50px;
}

button {
  color: $white;
  border: none;
  background-color: transparent;
}

.tab-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 3px solid $white;
  width: fit-content;
}
