@import "@shared/styles/tokens.scss";

.nav {
  background-color: $cyan-3;
  height: 50px;
  font-weight: 400;
  padding-left: $page-padding-size;
  padding-right: 15px;
  display: grid;
}

.text {
  color: $white;
  cursor: pointer;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &_close {
    width: 1.313rem;
    height: 1.313rem;
    padding: 0;
    justify-self: flex-end;
    align-self: center;

    &:hover {
      opacity: 0.8;
    }
  }

  &_tab {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid $white;
    width: fit-content;

    &:hover {
      background-color: #0000000c;
    }
  }
}
