@import "@shared/styles/tokens.scss";

.nav {
  background-color: $cyan-3;
  height: 50px;
  font-weight: 400;
  padding-left: 50px;
}

.text {
  color: $white;
  cursor: pointer;
}

.button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 3px solid $white;
  width: fit-content;
  cursor: pointer;

  &:hover {
    background-color: #0000000c;
  }
}
