@mixin roboto-setup($font-weight-name, $font-weight-value) {
  @font-face {
    font-family: "Roboto";
    src: url("@shared/assets/fonts/Roboto-#{$font-weight-name}.ttf")
      format("truetype");
    font-weight: #{$font-weight-value};
    font-style: normal;
  }
}

@include roboto-setup("Thin", 100);
@include roboto-setup("Light", 300);
@include roboto-setup("Regular", 400);
@include roboto-setup("Medium", 500);
@include roboto-setup("Bold", 700);
@include roboto-setup("Black", 900);

$default-font-family: "Roboto", sans-serif;
