@import "./styles/font.css";

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
