@import "@shared/styles/font.scss";
@import "@shared/styles/tokens.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
