.base {
  border-width: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 17px 52px;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}
