@import "@shared/styles/tokens.scss";

.table {
  width: 100%;
}

.td {
  padding: 10px 10px 10px 0;
  color: $gray-5;
}

.th {
  font-weight: 700;
  color: $gray-4;
  text-align: left;
}

.tr {
  font-weight: 300;
}

.draft,
.validated {
  color: $white;
  padding: 7px 66px;
  font-size: 0.875rem;
  border-radius: 100px;
  width: fit-content;
}

.draft {
  background-color: $gray-4;
}

.validated {
  background-color: #3092e3;
}

.bank_logo {
  width: 1.75rem;
}
