.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.label {
  white-space: nowrap;
  margin-bottom: 8px;
  color: $text;
  font-weight: 300;
}

.input_select {
  color: $text;
  padding: 5px 10px;
  font-size: 0.875rem;
  border-radius: 4px;
  font-family: $default-font-family;
  font-weight: bold;
  line-height: 1.5rem;
  border: none;
  padding: 9px 10px;
  border-right: 4px solid transparent;
  outline: 2px solid #eee;
  cursor: pointer;
}
